In [1]:
import pandas as pd

In [12]:
dataset=pd.read_csv("kidney_disease_test1.csv")

In [13]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,209,19.0,70.0,1.020,0.0,0.0,NaN,normal,notpresent,notpresent,...,11.5,NaN,6900.0,NaN,no,no,no,good,no,no
1,280,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,13.3,52,8100.0,5.2,no,no,no,good,no,no
2,33,60.0,100.0,1.020,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,10.1,29,NaN,NaN,yes,no,no,poor,no,no
3,210,59.0,100.0,1.015,4.0,2.0,normal,normal,notpresent,notpresent,...,7.3,20,9800.0,3.9,yes,yes,yes,good,no,yes
4,93,73.0,100.0,1.010,3.0,2.0,abnormal,abnormal,present,notpresent,...,9.2,30,7000.0,3.2,yes,yes,yes,poor,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,60,67.0,90.0,1.020,1.0,0.0,NaN,abnormal,present,notpresent,...,NaN,NaN,NaN,NaN,yes,no,no,good,no,no
116,79,56.0,80.0,1.010,1.0,0.0,NaN,normal,notpresent,notpresent,...,13.5,40,11800.0,5.0,yes,yes,no,poor,yes,no
117,285,66.0,70.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,16.0,41,5300.0,5.9,no,no,no,good,no,no
118,305,41.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,17.1,41,9100.0,5.2,no,no,no,good,no,no
119,281,55.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,15.5,41,9100.0,6.0,no,no,no,good,no,no

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      120 non-null    int64
 1   age     116 non-null    float64
 2   bp      117 non-null    float64
 3   sg      109 non-null    float64
 4   al      109 non-null    float64
 5   su      109 non-null    float64
 6   rbc     75 non-null     object
 7   pc      105 non-null    object
 8   pcc     120 non-null    object
 9   ba      120 non-null    object
 10  bgr     109 non-null    float64
 11  bu      115 non-null    float64
 12  sc      115 non-null    float64
 13  sod     100 non-null    float64
 14  pot     100 non-null    float64
 15  hemo    107 non-null    float64
 16  pcv     101 non-null    object
 17  wc      92 non-null     float64
 18  rc      83 non-null     float64
 19  htn     119 non-null    object
 20  dm      119 non-null    object
 21  cad     119 non-null    object
 22  appet   119 non-null    object
 23  pe      119 non-null    object
 24  ane     119 non-null    object
dtypes: float64(13), int64(1), object(11)
memory usage: 23.6+ KB

In [ ]:
# Separate quantitative and qualitative columns
quantitative_cols = dataset.select_dtypes(include=['int64', 'float64']).columns
qualitative_cols = dataset.select_dtypes(include=['object','category']).columns

In [ ]:
quantitative_cols

In [ ]:
qualitative_cols

In [ ]:
quantitative_cols:['id', 'age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'wc', 'rc','pcv']
qualitative_cols: ['rbc', 'pc', 'pcc', 'ba','htn', 'dm', 'cad', 'appet', 'pe', 'ane']

In [ ]:
dataset.quantitative_cols

In [ ]:
dataset.isnull().sum()

In [ ]:
dataset[Quantitative Columns]

In [15]:
#1)Replace the missing value with central tendency-Mean Median Mode
#2)Entire Row delete
#3)Respective to the problem, have to replace the missing values
#4)Consider this as a semi supervised, create a model, so that we can  predict the missing values.

In [16]:
quan=[]
qual=[]
for columnName in dataset.columns:
   # print(columnName)
    if(dataset[columnName].dtype=='O'):
        #print("qual")
        qual.append(columnName)
    else:
       # print("quan")
        quan.append(columnName)

In [17]:
quan

['id',
 'age',
 'bp',
 'sg',
 'al',
 'su',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'wc',
 'rc']

In [18]:
qual

['rbc', 'pc', 'pcc', 'ba', 'pcv', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane']

In [19]:
dataset[quan]

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,wc,rc
0,209,19.0,70.0,1.020,0.0,0.0,NaN,NaN,NaN,NaN,NaN,11.5,6900.0,NaN
1,280,47.0,80.0,NaN,NaN,NaN,93.0,33.0,0.9,144.0,4.5,13.3,8100.0,5.2
2,33,60.0,100.0,1.020,2.0,0.0,140.0,55.0,2.5,NaN,NaN,10.1,NaN,NaN
3,210,59.0,100.0,1.015,4.0,2.0,255.0,132.0,12.8,135.0,5.7,7.3,9800.0,3.9
4,93,73.0,100.0,1.010,3.0,2.0,295.0,90.0,5.6,140.0,2.9,9.2,7000.0,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,60,67.0,90.0,1.020,1.0,0.0,141.0,66.0,3.2,138.0,6.6,NaN,NaN,NaN
116,79,56.0,80.0,1.010,1.0,0.0,165.0,55.0,1.8,NaN,NaN,13.5,11800.0,5.0
117,285,66.0,70.0,1.020,0.0,0.0,94.0,19.0,0.7,135.0,3.9,16.0,5300.0,5.9
118,305,41.0,80.0,1.020,0.0,0.0,122.0,25.0,0.8,138.0,5.0,17.1,9100.0,5.2
119,281,55.0,80.0,1.025,0.0,0.0,130.0,50.0,1.2,147.0,5.0,15.5,9100.0,6.0

In [20]:
dataset[qual]

,rbc,pc,pcc,ba,pcv,htn,dm,cad,appet,pe,ane
0,NaN,normal,notpresent,notpresent,NaN,no,no,no,good,no,no
1,NaN,NaN,notpresent,notpresent,52,no,no,no,good,no,no
2,abnormal,abnormal,notpresent,notpresent,29,yes,no,no,poor,no,no
3,normal,normal,notpresent,notpresent,20,yes,yes,yes,good,no,yes
4,abnormal,abnormal,present,notpresent,30,yes,yes,yes,poor,no,no
...,...,...,...,...,...,...,...,...,...,...,...
115,NaN,abnormal,present,notpresent,NaN,yes,no,no,good,no,no
116,NaN,normal,notpresent,notpresent,40,yes,yes,no,poor,yes,no
117,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no
118,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no
119,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no

In [ ]:
#missing values replace dataset same time multiple column
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan,strategy='mean')
imp.fit(dataset[quan])
df=imp.transform(dataset[quan])

In [ ]:
df

In [ ]:
#create table 
df = pd.DataFrame(df,columns = quan)

In [ ]:
df

In [ ]:
#missing values replace dataset same time multiple column
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imp.fit(dataset[qual])
df=imp.transform(dataset[qual])

In [ ]:
df

In [ ]:
#create table 
df = pd.DataFrame(df,columns = qual)

In [ ]:
df

In [ ]:
import pandas as pd

In [ ]:
dataset=pd.read_csv("kidney_disease_test1.csv")

In [ ]:
dataset

In [ ]:
dataset.info()

In [ ]:
#1)Replace the missing value with central tendency-Mean Median Mode
#2)Entire Row delete
#3)Respective to the problem, have to replace the missing values
#4)Consider this as a semi supervised, create a model, so that we can  predict the missing values.

In [ ]:
quan=[]
qual=[]
for columnName in dataset.columns:
   # print(columnName)
    if(dataset[columnName].dtype=='O'):
        #print("qual")
        qual.append(columnName)
    else:
       # print("quan")
        quan.append(columnName)

In [ ]:
quan

In [ ]:
qual

In [ ]:
dataset[quan]

In [ ]:
dataset[qual]